/* 
colors used: #0C309D #CFDC1E #F8C5BF #CFCEF8 #074620

contrast value: #0C309D to #F8C5BF 7.13
contrast value: #0C309D to #CFCEF8 7.18
contrast value: #0C309D to #CFDC1E 7.22

contrast value: #CFDC1E to #0C309D 7.22
contrast value: #CFDC1E to #074620 7.29

 */



main {
    color: #CFDC1E;
    background-color: #0C309D;
    margin: 25px auto;
    width: 1080px;
}

table {
    width: 1050px;
    margin-top: 15px;
}

body {
    background-color: #0C309D;
    font-family: Helvetica, sans-serif;
    margin: 0;
}


#indexMain {
    color: #074620;
    background-color: #CFDC1E;
    margin: 25px auto;
    width: 1080px;
}

h1 {
    text-align: center;
}

#indexMain p{
    margin: 20px;
    padding-bottom: 20px;
}

header {
    text-align: center;
    color: #CFCEF8;
    padding: 10px;
    font-size: larger;
    font-style: oblique;
}

nav {
    text-align: center;
    background-color: #CFDC1E;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 1080px;
    margin: 20px auto;
}

a {
    text-decoration: none;
    color: #0C309D;
    /* text-shadow: 3px 1px #141259; */
}

nav li {
    display: inline;
    margin: 20px;
    font-size: 20px;
    font-weight: 1000;
    padding: 25px;

}

#logo {
    display: block;
    margin: auto;
    width: 200px;
}

#team {
    display: flex;
}

#t1, #t2, #t3, #t4 {
    width: 200px;
    margin-right: auto;
}

#t1 h2, #t2 h2, #t3 h2, #t4 h2 {
    color: #F8C5BF;
}

#t1 img, #t3 img, #t4 img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}

#t2 img {
    width: 100%;
    height: 200px;
    display: block;
    object-fit: cover;
    object-position: center 20%;
}

footer {
    color: #CFDC1E;
    padding-left: 10px;
    text-align: center;
}

p span {
    color: #F8C5BF;
}

.grid td {
    width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
}